#profilePic{ /* My pic style */
    width: 25vw;

    margin: 0 auto;
    margin-top: 3vh;
}
h1{
    margin: 0 auto;
    margin-top: 3vh;
}
p{
    width: 50%;

    font-weight: 500;
    text-align: center;

    margin: 0 auto;
    margin-top: 3vh;
}

/* Icon bar style */
.iconbar{
    width: 20%;

    margin: 0 auto;
    margin-top: 3vh;
}
.iconbar-list{
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}
.iconbar-list-iten{
    margin: 0 auto;
}
.iconbar-list-icon{
    width: 3vw;

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.iconbar-list-icon:hover{ /* Popup animation */
    transform: translateY(-1px);
}

/* Responsiveness */
@media only screen and (max-width: 600px){
    #profilePic{
        width: 75vw;
    }
    .iconbar{
        width: 50vw;
    }
    .iconbar-list-icon{
        width: 10vw;
        margin: 1vw;
    }
}